body{
  margin:0;
  padding:0;
  background-color:#a9a9a9;
  overflow:hidden;
}

.title-container{
  width:35vw;
  height:auto;
  margin: 22.5% auto;
}

.title{
  color:#FF00CC;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

.back{
  position: relative;
  font-family: 'Press Start 2P', cursive;
  color: #FF00CC;
  bottom: 10rem;
  left:42%;
}

.back:hover{
  text-decoration: none;
  animation: color-change 0.5s infinite;
}


.home-container{
  width:10vw;
  height: auto;
  text-align: center;
  border: 2px solid #FF00CC;
  padding: 1rem;
}

.home-container:hover{
  background-color: rgba(255,0,204,0.2);
}

@keyframes color-change{
  0% {color:#FFFF00;}
  20% {color:#FF0000;}
  40% {color:#099FFF;}
  60% {color:#9D00FF;}
  80% {color:#FF00CC;}
  100% {color: #00FF00;}
}
